<app-nav-bar-tabs></app-nav-bar-tabs>

<body>
  <div class="main-wrapper">
    <div class="product-container" *ngIf="product">
      <div class="image-box">
        <img [src]="product.img" alt="{{ product.name }}" />
      </div>
      <div class="details-box">
        <h1 class="product-title">{{ product.name }}</h1>

        <div class="product-meta">
          <div class="reviews">
            <span *ngFor="let star of [1,2,3,4,5]" (click)="submitStarReview(star)"
              [class.active]="star <= selectedRating" class="star">
              &#9733;
            </span>
            <span>({{ selectedRating }} {{ selectedRating === 1 ? 'Review' : 'Reviews' }})</span>
          </div>
        </div>

        <div class="price-section">
          <span class="current-price">${{ product.price }}</span>
        </div>

        <p class="description">{{ product.description }}</p>

        <div class="actions">
          <div class="quantity-selector">
            <button (click)="decreaseQty()">-</button>
            <span style="color:black">{{ quantity }}</span>
            <button (click)="increaseQty()">+</button>
          </div>
          <button class="add-to-cart" (click)="addToCart()">ADD TO CART</button>
          <button class="icon-button"><i class="far fa-heart"></i></button>
          <button class="icon-button"><i class="fas fa-exchange-alt"></i></button>
        </div>

        <button class="buy-now" (click)="buyNow()">Buy Now</button>

        <div class="category-tags">
          <p id="categoria">Categoria: <a href="#">{{ categoryName }}</a></p>
        </div>
      </div>
    </div>
    <main class="product-section">
      <h1 class="section-title">Prodotti Consigliati</h1>

      <div class="product-grid">
        <div class="product-card" *ngFor="let prod of suggestedProducts" style="cursor: pointer;">
          <img [src]="prod.img" alt="{{ prod.name }}" />

          <h2>{{ prod.name }}</h2>

          <div class="suggested-stars">
            <span *ngFor="let star of [1,2,3,4,5]" class="star">&#9733;</span>
          </div>
          <div class="price">
            {{ prod.price | currency: 'EUR' }}
          </div>  
          <button class="mini-add-cart">
            Aggiungi al Carrello
          </button>
        </div>
      </div>
    </main>
  </div>
</body>