<!-- HEADER -->
<header class="site-header">
  <div class="logo">TechStore</div>
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Cerca per nome prodotto"
    />
    <button (click)="searchProducts()">🔍 Cerca</button>
  </div>
</header>

<!-- SEZIONE PRODOTTI -->
<main class="product-section">
  <h1 class="section-title">Prodotti Disponibili</h1>

  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.img" alt="{{ product.name }}" />
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <strong>{{ product.price | currency: 'EUR' }}</strong>
    </div>
  </div>
</main>
<section *ngIf="isAdmin" class="admin-form">
  <h3>Aggiungi Prodotto</h3>

  <input
    type="text"
    placeholder="Nome"
    [(ngModel)]="newProduct.name"
  />
  <input
    type="text"
    placeholder="Categoria"
    [(ngModel)]="newProduct.id_categoria"
  />
  <input
    type="number"
    placeholder="Prezzo"
    [(ngModel)]="newProduct.price"
  />
  <input
    type="text"
    placeholder="Descrizione"
    [(ngModel)]="newProduct.description"
  />
  <input
    type="number"
    placeholder="Quantità"
    [(ngModel)]="newProduct.quantity"
  />
  <input
    type="text"
    placeholder="URL Immagine"
    [(ngModel)]="newProduct.img"
  />
  <button (click)="addProduct()">Aggiungi</button>
</section>
