
<header class="site-header">
  <div class="logo">TechStore</div>

 
  <div class="search-bar">
    <div class="shoppingCart" (click)="toggleSideCart()">
      <img src="assets/images/shopping-cart-icon.png" alt="Carrello" width="32" height="32" />
    </div>

    <!-- Inserisci il componente del carrello laterale -->
    <app-side-cart *ngIf="showSideCart" class="side-cart-panel" (close)="toggleSideCart()"></app-side-cart>

    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Cerca per nome prodotto"
    />
    <button (click)="searchProducts()">🔍 Cerca</button>
    
    <app-nav-bar></app-nav-bar>

  </div>

 
</header>
 <app-nav-bar-tabs></app-nav-bar-tabs>
<main class="product-section">
  <h1 class="section-title">Prodotti Disponibili</h1>

  <div class="product-grid">
    <div
      class="product-card"
      *ngFor="let prod of products"
      [routerLink]="['/details', prod.id]"
      style="cursor: pointer;"
    >
      <img [src]="prod.img" alt="{{ prod.name }}" />
      <h2>{{ prod.name }}</h2>
      <p>{{ prod.description }}</p>
      <strong>{{ prod.price | currency: 'EUR' }}</strong>
    </div>
  </div>
</main>
<section *ngIf="isAdmin" class="admin-form">
  <h3>Aggiungi Prodotto</h3>

  <input
    type="text"
    placeholder="Nome"
    [(ngModel)]="newProduct.name"
  />
  <input
    type="text"
    placeholder="Categoria"
    [(ngModel)]="newProduct.id_categoria"
  />
  <input
    type="number"
    placeholder="Prezzo"
    [(ngModel)]="newProduct.price"
  />
  <input
    type="text"
    placeholder="Descrizione"
    [(ngModel)]="newProduct.description"
  />
  <input
    type="number"
    placeholder="Quantità"
    [(ngModel)]="newProduct.quantity"
  />
  <input
    type="text"
    placeholder="URL Immagine"
    [(ngModel)]="newProduct.img"
  />
  <button (click)="addProduct()">Aggiungi</button>
</section>