<header class="site-header">
  <div class="logo">TechStore</div>

  <div class="search-bar">


    <div class="ricercaCarrello">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca per nome prodotto" />
      <button (click)="searchProducts()">🔍 Cerca</button>
    </div>



    <app-nav-bar></app-nav-bar>
  </div>
</header>
<app-nav-bar-tabs></app-nav-bar-tabs>
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-6">Il tuo carrello</h1>

    <!-- Modal errore -->
    <div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': errorMessage}" [style.backgroundColor]="'rgba(0,0,0,0.5)'" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header bg-danger text-white">
            <h5 class="modal-title">Errore</h5>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="dismissError()"></button>
        </div>
        <div class="modal-body">
            <p>{{ errorMessage }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="dismissError()">Chiudi</button>
        </div>
        </div>
    </div>
    </div>


    <div *ngIf="loading" class="text-center">Caricamento...</div>

    <div *ngIf="!loading && cartItems.length === 0">
        <p>Il carrello è vuoto.</p>
    </div>

    <div *ngIf="!loading && cartItems.length > 0" class="grid gap-6">
        <div *ngFor="let item of cartItems" class="flex gap-4 items-center border rounded-xl shadow p-4">
            <img  [src]="item.product.img" [alt]="item.product.name" style="width: 300px; height: 400px; object-fit: cover; border-radius: 12px; background-color: white; padding: 8px;"/>

            <div class="flex-1">
                <h2 class="text-xl font-semibold">{{ item.product.name }}</h2>
                <p class="text-gray-600 mb-1">{{ item.product.description }}</p>
                <p class="text-sm text-gray-500">Prezzo unitario: €{{ item.product.price }}</p>

                <p class="text-sm text-gray-500 flex items-center gap-2 mt-2">
                Quantità:
                <button (click)="decreaseQuantity(item)" class="px-2 py-1 bg-gray-200 rounded hover:bg-gray-300">-</button>
                {{ item.quantity }}
                <button (click)="increaseQuantity(item)" class="px-2 py-1 bg-gray-200 rounded hover:bg-gray-300">+</button>
                </p>

                <p class="text-sm font-semibold mt-2">Totale: €{{ getTotalPerItem(item) }}</p>
            </div>
        </div>
        <div class="text-right mt-6">
        <p class="text-xl font-bold">Totale carrello: €{{ getCartTotal() }}</p>
        </div>

        <div>
            <button (click)="goToCheckout()">Vai al checkout</button>
        </div>

    </div>
</div>
